<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGZtoCBMCmhO8vpcBl-YKnA0XbyfDMEGE</string>
	<key>GCM_SENDER_ID</key>
	<string>593606735456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nkapps.appsifat</string>
	<key>PROJECT_ID</key>
	<string>app-sifat-aamfqv</string>
	<key>STORAGE_BUCKET</key>
	<string>app-sifat-aamfqv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593606735456:ios:65a2c2200fd5c02cc2f505</string>
</dict>
</plist>